<style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;border-width:1px;border-style:solid;border-color:#ccc;}
    .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}
    .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
    .tg .tg-2xh2{color:#68cbd0;text-align:left;vertical-align:top}
    .tg .tg-9s94{color:#9b9b9b;text-align:left;vertical-align:top}
    .tg .tg-viqs{color:#fe0000;text-align:left;vertical-align:top}
    .tg .tg-0lax{text-align:left;vertical-align:top}
    </style>
    <table class="tg">
      <tr>
        <th class="tg-0lax">Pin #</th>
        <th class="tg-0lax">Name<br></th>
        <th class="tg-0lax">Status</th>
        <th class="tg-0lax"></th>
        <th class="tg-0lax">Status</th>
        <th class="tg-0lax">Name</th>
        <th class="tg-0lax">Pin #</th>
      </tr>
      <tr>
        <td class="tg-0lax">1</td>
        <td class="tg-2xh2">3V3</td>
        <td class="tg-0lax"></td>
        <td class="tg-0lax"></td>
        <td class="tg-0lax"></td>
        <td class="tg-viqs">5V</td>
        <td class="tg-0lax">2</td>
      </tr>
      <tr>
        <td class="tg-0lax">3</td>
        <td class="tg-0lax">GPIO2</td>
        <td class="tg-0lax">{{ GPIO2 }}</td>
        <td class="tg-0lax"></td>
        <td class="tg-0lax"></td>
        <td class="tg-viqs">5V</td>
        <td class="tg-0lax">4</td>
      </tr>
      <tr>
        <td class="tg-0lax">5</td>
        <td class="tg-0lax">GPIO3</td>
        <td class="tg-0lax">{{ GPIO3 }}</td>
        <td class="tg-0lax"></td>
        <td class="tg-0lax"></td>
        <td class="tg-9s94">GND</td>
        <td class="tg-0lax">6</td>
      </tr>
      <tr>
        <td class="tg-0lax">7</td>
        <td class="tg-0lax">GPIO4</td>
        <td class="tg-0lax">{{ GPIO4 }}</td>
        <td class="tg-0lax"></td>
        <td class="tg-0lax">{{ GPIO14 }}</td>
        <td class="tg-0lax">GPIO14</td>
        <td class="tg-0lax">8</td>
      </tr>
      <tr>
        <td class="tg-0lax">9</td>
        <td class="tg-9s94">GND</td>
        <td class="tg-0lax"></td>
        <td class="tg-0lax"></td>
        <td class="tg-0lax">{{ GPIO15 }}</td>
        <td class="tg-0lax">GPIO15</td>
        <td class="tg-0lax">10</td>
      </tr>
      <tr>
        <td class="tg-0lax">11</td>
        <td class="tg-0lax">GPIO17</td>
        <td class="tg-0lax">{{ GPIO17 }}</td>
        <td class="tg-0lax"></td>
        <td class="tg-0lax">{{ GPIO18 }}</td>
        <td class="tg-0lax">GPIO18</td>
        <td class="tg-0lax">12</td>
      </tr>
      <tr>
        <td class="tg-0lax">13</td>
        <td class="tg-0lax">GPIO27</td>
        <td class="tg-0lax">{{ GPIO27 }}</td>
        <td class="tg-0lax"></td>
        <td class="tg-0lax"></td>
        <td class="tg-9s94">GND</td>
        <td class="tg-0lax">14</td>
      </tr>
      <tr>
        <td class="tg-0lax">15</td>
        <td class="tg-0lax">GPIO22</td>
        <td class="tg-0lax">{{ GPIO22 }}</td>
        <td class="tg-0lax"></td>
        <td class="tg-0lax">{{ GPIO23 }}</td>
        <td class="tg-0lax">GPIO23</td>
        <td class="tg-0lax">16</td>
      </tr>
      <tr>
        <td class="tg-0lax">17</td>
        <td class="tg-2xh2">3V3</td>
        <td class="tg-0lax"></td>
        <td class="tg-0lax"></td>
        <td class="tg-0lax">{{ GPIO24 }}</td>
        <td class="tg-0lax">GPIO24</td>
        <td class="tg-0lax">18</td>
      </tr>
      <tr>
        <td class="tg-0lax">19</td>
        <td class="tg-0lax">GPIO10</td>
        <td class="tg-0lax">{{ GPIO10 }}</td>
        <td class="tg-0lax"></td>
        <td class="tg-0lax"></td>
        <td class="tg-9s94">GND</td>
        <td class="tg-0lax">20</td>
      </tr>
      <tr>
        <td class="tg-0lax">21</td>
        <td class="tg-0lax">GPIO9</td>
        <td class="tg-0lax">{{ GPIO9 }}</td>
        <td class="tg-0lax"></td>
        <td class="tg-0lax">{{ GPIO25 }}</td>
        <td class="tg-0lax">GPIO25</td>
        <td class="tg-0lax">22</td>
      </tr>
      <tr>
        <td class="tg-0lax">23</td>
        <td class="tg-0lax">GPIO11</td>
        <td class="tg-0lax">{{ GPIO11 }}</td>
        <td class="tg-0lax"></td>
        <td class="tg-0lax">{{ GPIO8 }}</td>
        <td class="tg-0lax">GPIO8</td>
        <td class="tg-0lax">24</td>
      </tr>
      <tr>
        <td class="tg-0lax">25</td>
        <td class="tg-9s94">GND</td>
        <td class="tg-0lax"></td>
        <td class="tg-0lax"></td>
        <td class="tg-0lax">{{ GPIO7 }}</td>
        <td class="tg-0lax">GPIO7</td>
        <td class="tg-0lax">26</td>
      </tr>
      <tr>
        <td class="tg-0lax">27</td>
        <td class="tg-0lax">GPIO0</td>
        <td class="tg-0lax">{{ GPIO0 }}</td>
        <td class="tg-0lax"></td>
        <td class="tg-0lax">{{ GPIO1 }}</td>
        <td class="tg-0lax">GPIO1</td>
        <td class="tg-0lax">28</td>
      </tr>
      <tr>
        <td class="tg-0lax">29</td>
        <td class="tg-0lax">GPIO5</td>
        <td class="tg-0lax">{{ GPIO5 }}</td>
        <td class="tg-0lax"></td>
        <td class="tg-0lax"></td>
        <td class="tg-9s94">GND</td>
        <td class="tg-0lax">30</td>
      </tr>
      <tr>
        <td class="tg-0lax">31</td>
        <td class="tg-0lax">GPIO6</td>
        <td class="tg-0lax">{{ GPIO6 }}</td>
        <td class="tg-0lax"></td>
        <td class="tg-0lax">{{ GPIO12 }}</td>
        <td class="tg-0lax">GPIO12</td>
        <td class="tg-0lax">32</td>
      </tr>
      <tr>
        <td class="tg-0lax">33</td>
        <td class="tg-0lax">GPIO13</td>
        <td class="tg-0lax">{{ GPIO13 }}</td>
        <td class="tg-0lax"></td>
        <td class="tg-0lax"></td>
        <td class="tg-9s94">GND</td>
        <td class="tg-0lax">34</td>
      </tr>
      <tr>
        <td class="tg-0lax">35</td>
        <td class="tg-0lax">GPIO19</td>
        <td class="tg-0lax">{{ GPIO19 }}</td>
        <td class="tg-0lax"></td>
        <td class="tg-0lax">{{ GPIO16 }}</td>
        <td class="tg-0lax">GPIO16</td>
        <td class="tg-0lax">36</td>
      </tr>
      <tr>
        <td class="tg-0lax">37</td>
        <td class="tg-0lax">GPIO26</td>
        <td class="tg-0lax">{{ GPIO26 }}</td>
        <td class="tg-0lax"></td>
        <td class="tg-0lax">{{ GPIO20 }}</td>
        <td class="tg-0lax">GPIO20</td>
        <td class="tg-0lax">38</td>
      </tr>
      <tr>
        <td class="tg-0lax">39</td>
        <td class="tg-9s94">GND</td>
        <td class="tg-0lax"></td>
        <td class="tg-0lax"></td>
        <td class="tg-0lax">{{ GPIO21 }}</td>
        <td class="tg-0lax">GPIO21</td>
        <td class="tg-0lax">40</td>
      </tr>
    </table>